node_modules/
*.epub
.claude/
package-lock.json

# output cartelle generate
ce27/
ha22/
lin/
com/
goldman-cecil-medicine-27th-edition/
harrison-s-principles-of-internal-medicine-22nd-edition/
rugarli-medicina-interna-sistematica/
test-monolithic-output/

# binario monolitico
epub2site
